<section
  class="invoice-form theme-animation"
  [class.close-form]="animateFormClose"
>
  <div class="form-wrap">
    <h2>{{ title }}</h2>
    <form [formGroup]="form" novalidate autocomplete="off">
      <fieldset>
        <legend>Bill From</legend>
        <div class="form-section bill-from" formGroupName="senderAddress">
          <div class="form-control">
            <input
              type="text"
              id="street"
              formControlName="street"
              autocomplete="off"
            />
            <label for="street" data-test="prueba"> Street Address </label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="city"
              formControlName="city"
              autocomplete="off"
            />
            <label for="city">City</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="code"
              formControlName="postCode"
              autocomplete="off"
            />
            <label for="code">Post Code</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="country"
              formControlName="country"
              autocomplete="off"
            />
            <label for="country">Country</label>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Bill To</legend>
        <div class="form-section bill-to">
          <div class="form-control">
            <input
              type="text"
              id="name"
              formControlName="clientName"
              autocomplete="off"
            />
            <label for="name">Client's Name</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="email"
              placeholder="e.g. email@example.com"
              formControlName="clientEmail"
              autocomplete="off"
            />
            <label for="email">Client's Email</label>
          </div>
          <ng-container formGroupName="clientAddress">
            <div class="form-control">
              <input
                type="text"
                id="street-to"
                formControlName="street"
                autocomplete="off"
              />
              <label for="street-to">Street Address</label>
            </div>
            <div class="form-control">
              <input
                type="text"
                id="city-to"
                formControlName="city"
                autocomplete="off"
              />
              <label for="city-to">City</label>
            </div>
            <div class="form-control">
              <input
                type="text"
                id="code-to"
                formControlName="postCode"
                autocomplete="off"
              />
              <label for="code-to">Post Code</label>
            </div>
            <div class="form-control">
              <input
                type="text"
                id="country-to"
                formControlName="country"
                autocomplete="off"
              />
              <label for="country-to">Country</label>
            </div>
          </ng-container>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-section bill-date">
          <div class="form-control date">
            <input
              type="date"
              id="invoice-date"
              formControlName="paymentDue"
              autocomplete="off"
            />
            <label for="invoice-date">Invoice Date</label>
          </div>
          <div class="form-control select">
            <select
              id="payment-terms"
              formControlName="paymentTerms"
              autocomplete="off"
            >
              <option [value]="item.id" *ngFor="let item of termsCatalog">
                {{ item.name }}
              </option>
            </select>
            <img
              src="./assets/img/icon-arrow-down.svg"
              alt="Icon Arrow"
            />
            <label for="payment-terms"> Payment Terms </label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="description"
              placeholder="e.g. Graphic Design Service"
              formControlName="description"
              autocomplete="off"
            />
            <label for="description">Description</label>
          </div>
        </div>
      </fieldset>

      <fieldset class="add-items">
        <h3>ItemList</h3>

        <ng-container *ngIf="invoiceItems.length > 0" formArrayName="items">
          <div
            class="form-section"
            *ngFor="let item of invoiceItems.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="form-control">
              <input
                type="text"
                id="item-name"
                formControlName="name"
                autocomplete="off"
              />
              <label for="item-name">Item Name</label>
            </div>
            <div class="form-control">
              <input
                type="number"
                id="qty"
                formControlName="quantity"
                autocomplete="off"
              />
              <label for="qty">Qty.</label>
            </div>
            <div class="form-control">
              <input
                type="number"
                id="price"
                formControlName="price"
                autocomplete="off"
              />
              <label for="price">Price</label>
            </div>
            <div class="form-control">
              <input
                type="number"
                id="total"
                [value]="
                  item.get('quantity').value * item.get('price').value || 0
                "
                readonly
                formControlName="total"
                autocomplete="off"
              />
              <label for="total">Total</label>
            </div>
            <div class="form-control flex-center">
              <button (click)="deleteItem(i)">
                <svg width="13" height="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z"
                    fill-rule="nonzero"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </fieldset>

      <button class="btn btn-add-items" (click)="addItem()">
        + Add New Item
      </button>

      <div class="error-message" *ngIf="showErrorMessage">
        <p>- All fields must be filled.</p>
        <p>- An item must be added.</p>
      </div>
    </form>

    <div class="invoice-form-actions flex-between">
      <button class="btn" (click)="closeForm()">Discard</button>
      <div>
        <button class="btn btn-draft" (click)="saveAsDraft()">
          Save as {{ invoiceStatus !== "Draft" ? "Draft" : "Pending" }}
        </button>
        <button class="btn btn-send" type="button" (click)="handleFormSubmit()">
          Save & Send
        </button>
      </div>
    </div>
  </div>
</section>
