<section
  class="invoice-form theme-animation"
  [class.close-form]="animateFormClose"
>
  <div class="form-wrap">
    <h2>Create Invoice</h2>

    <form [formGroup]="form" novalidate autocomplete="off">
      <fieldset>
        <legend>Bill From</legend>
        <div class="form-section bill-from" formGroupName="senderAddress">
          <div class="form-control">
            <label for="street" data-test="prueba"> Street Address </label>
            <input type="text" id="street" formControlName="street" />
          </div>
          <div class="form-control">
            <label for="city">City</label>
            <input type="text" id="city" formControlName="city" />
          </div>
          <div class="form-control">
            <label for="code">Post Code</label>
            <input type="text" id="code" formControlName="postCode" />
          </div>
          <div class="form-control">
            <label for="country">Country</label>
            <input type="text" id="country" formControlName="country" />
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Bill To</legend>
        <div class="form-section bill-to">
          <div class="form-control">
            <label for="name">Client's Name</label>
            <input type="text" id="name" formControlName="clientName" />
          </div>
          <div class="form-control">
            <label for="email">Client's Email</label>
            <input
              type="text"
              id="email"
              placeholder="e.g. email@example.com"
              formControlName="clientEmail"
            />
          </div>
          <ng-container formGroupName="clientAddress">
            <div class="form-control">
              <label for="street-to">Street Address</label>
              <input type="text" id="street-to" formControlName="street" />
            </div>
            <div class="form-control">
              <label for="city-to">City</label>
              <input type="text" id="city-to" formControlName="city" />
            </div>
            <div class="form-control">
              <label for="code-to">Post Code</label>
              <input type="text" id="code-to" formControlName="postCode" />
            </div>
            <div class="form-control">
              <label for="country-to">Country</label>
              <input type="text" id="country-to" formControlName="country" />
            </div>
          </ng-container>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-section bill-date">
          <div class="form-control">
            <label for="invoice-date">Invoice Date</label>
            <input type="text" id="invoice-date" formControlName="paymentDue" />
          </div>
          <div class="form-control">
            <label for="payment-terms" [class.error]="errors.paymentTerms"
              >Payment Terms</label
            >
            <select id="payment-terms" formControlName="paymentTerms">
              <option [value]="item.id" *ngFor="let item of termsCatalog">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="form-control">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              placeholder="e.g. Graphic Design Service"
              formControlName="description"
            />
          </div>
        </div>
      </fieldset>

      <fieldset class="add-items">
        <h3>ItemList</h3>

        <ng-container *ngIf="invoiceItems.length > 0" formArrayName="items">
          <div
            class="form-section"
            *ngFor="let item of invoiceItems.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="form-control">
              <label for="item-name">Item Name</label>
              <input type="text" id="item-name" formControlName="name" />
            </div>
            <div class="form-control">
              <label for="qty">Qty.</label>
              <input type="number" id="qty" formControlName="quantity" />
            </div>
            <div class="form-control">
              <label for="price">Price</label>
              <input type="text" id="price" formControlName="price" />
            </div>
            <div class="form-control">
              <label for="total">Total</label>
              <input
                type="number"
                id="total"
                value="0"
                readonly
                formControlName="total"
              />
            </div>
            <div class="form-control flex-center">
              <button (click)="deleteItem(i)">
                <svg width="13" height="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z"
                    fill-rule="nonzero"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </fieldset>

      <button class="btn btn-add-items" (click)="addItem()">
        + Add New Item
      </button>
    </form>

    <div class="invoice-form-actions flex-between">
      <button class="btn" (click)="closeForm()">Discard</button>
      <div>
        <button class="btn">Save as Draft</button>
        <button class="btn" type="button" (click)="handleFormSubmit()">
          Save & Send
        </button>
      </div>
    </div>
  </div>
</section>
