.invoice-form {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background: var(--body-bg);
  color: #fff;
  z-index: 200;
  animation: slideIn 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);

  &.close-form {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}
