<header class="header fadeIn">
  <div class="header-title">
    <h2>Invoices</h2>
    <span>There are {{ counter }} total invoices.</span>
  </div>
  <div>
    <div class="header-filter--dropdown">
      <button class="header-btn--filter" (click)="showFilter()">
        <span class="header-btn-text">
          Filter <span class="header-text-hide">by status</span>
        </span>
        <img
          src="./assets/img/icon-arrow-down.svg"
          alt="Icon Arrow"
          class="filter-icon-arrow"
          [class.activeFilter]="openFilter"
        />
      </button>
      <ul (mouseleave)="closeFilter($event)" class="dropdown" *ngIf="openFilter" >
        <li *ngFor="let filter of filters; let i = index" (click)="toggleFilter(filter.name, i)" >
          <span class="filter-checkbox" [class.active-filter]="filter.checked" ></span>
          <span class="filter-text">{{ filter.name }}</span>
        </li>
      </ul>
    </div>
    <button class="header-btn--new" (click)="toggleForm()">
      <div class="wrap-icon-plus">
        <img src="./assets/img/icon-plus.svg" alt="Icon Plus" />
      </div>
      <span class="header-btn-text">
        New <span class="header-text-hide">Invoice</span>
      </span>
    </button>
  </div>
</header>
