<header class="header">
  <div class="header-title">
    <h2>Invoices</h2>
    <span>There are 6 total invoices.</span>
  </div>
  <div>
    <button class="header-btn--filter">
      <span>Filter</span>
      <img src="../../../../assets/img/icon-arrow-down.svg" alt="Icon Arrow" />
    </button>
    <button class="header-btn--new">
      <div class="wrap-icon-plus">
        <img src="../../../../assets/img/icon-plus.svg" alt="Icon Plus" />
      </div>
      <span>New</span>
    </button>
  </div>
</header>
