<header class="header">
  <div class="header-title">
    <h2>Invoices</h2>
    <span>There are 6 total invoices.</span>
  </div>
  <div>
    <div class="header-filter--dropdown">
      <button
        class="header-btn--filter"
        (click)="UiActionsService.toggleFilter()"
      >
        <span>Filter</span>
        <img
          src="../../../../assets/img/icon-arrow-down.svg"
          alt="Icon Arrow"
          class="filter-icon-arrow"
          [class.activeFilter]="UiActionsService.openFilter"
        />
      </button>
      <ul class="dropdown" *ngIf="UiActionsService.openFilter">
        <li>
          <label>
            <span class="label-checkbox"></span>
            <span class="label-text">Paid</span>
            <input type="checkbox" />
          </label>
        </li>
        <li>
          <label>
            <span class="label-checkbox"></span>
            <span class="label-text"> Pending</span>
            <input type="checkbox" />
          </label>
        </li>
        <li>
          <label>
            <span class="label-checkbox"></span>
            <span class="label-text">Draft</span>
            <input type="checkbox" />
          </label>
        </li>
      </ul>
    </div>
    <button class="header-btn--new">
      <div class="wrap-icon-plus">
        <img src="../../../../assets/img/icon-plus.svg" alt="Icon Plus" />
      </div>
      <span>New</span>
    </button>
  </div>
</header>
