<li
  [routerLink]="['/invoice/', invoice._id]"
  class="invoice-item theme-animation"
  [ngStyle]="{ 'animation-delay': idx * 0.2 + 's' }"
>
  <span class="inovice-id">{{ invoice._id | slice: 0:6 | uppercase }}</span>
  <span class="invoice-date">
    Due {{ invoice.createdAt | date: "dd MMM yyyy" }}
  </span>
  <p class="inovice-client">{{ invoice.clientName }}</p>
  <p class="invoice-total">£{{ invoice.total | number }}</p>
  <span class="inovice-status" [ngClass]="'status-' + invoice.status">
    {{ invoice.status }}
  </span>
  <img
    src="../../../../assets/img/icon-arrow-down.svg"
    alt="Icon Arrow"
    class="invoice-icon-arrow"
  />
</li>
