.invoice-item {
  background: var(--bg-box);
  border-radius: 0.4rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.invoice-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 1.5rem;
  }
}

.inovice-id {
  font-weight: 700;

  &:before {
    content: "#";
    color: hsl(231, 37%, 63%);
  }
}

.invoice-date {
  color: var(--btn-text);
  display: block;
  margin-bottom: 0.5rem;
}

.invoice-total {
  font-size: 1rem;
  font-weight: 700;
}
