@import "mq";

.invoice-item {
  display: grid;
  grid-template-rows: max-content 1fr;
  background: var(--bg-box);
  border-radius: 0.4rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  padding: 1.2rem 1.5rem;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;

  @include mq(md) {
    grid-template-columns: 5rem 9rem 1fr min-content min-content min-content;
    grid-template-rows: min-content;
    align-items: center;
  }
}

.inovice-id {
  grid-area: 1 / 1 / 2 / 2;
  font-weight: 700;
  margin-bottom: 1rem;

  @include mq(md) {
    margin-bottom: initial;
  }

  &:before {
    content: "#";
    color: hsl(231, 37%, 63%);
  }
}

.inovice-client {
  color: var(--btn-text);
  grid-area: 1 / 2 / 2 / 3;
  text-align: end;

  @include mq(md) {
    grid-area: 1 / 3 / 2 / 4;
    text-align: initial;
    margin-right: 1.5rem;
  }
}

.invoice-date {
  color: var(--btn-text);
  display: block;
  margin-bottom: 0.5rem;

  @include mq(md) {
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 0;
  }
}

.invoice-total {
  font-size: 1rem;
  font-weight: 700;

  @include mq(md) {
    grid-area: 1 / 4 / 2 / 5;
  }
}

.inovice-status {
  grid-area: 2 / 2 / 4 / 3;
  margin-left: auto;

  @include mq(md) {
    grid-area: 1 / 5 / 2 / 6;
    margin-left: 2rem;
    margin-right: 1rem;
  }
}

.invoice-icon-arrow {
  display: none;
  transform: rotateZ(-90deg);

  @include mq(md) {
    display: inline-block;
    grid-area: 1 / 6 / 2 / 7;
  }
}
