@import "mq";

.container {
  padding-top: 80px;

  @include mq(lg) {
    padding-top: 0;
    padding-left: 103px;
  }
}

.invoice-main {
  margin: auto;
  padding: 2rem 1.5rem;

  @include mq(md) {
    padding: 3.5rem 3rem;
  }

  @include mq(lg) {
    padding: 4.5rem 3rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#000, 0.5);
  z-index: 50;
}
