.sidebar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: var(--sidebar-bg);
  position: fixed;
  z-index: 100;

  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-purple);
    border-radius: 0 20px 20px 0;
    margin-right: auto;
    position: relative;
    height: 100%;
    width: 5rem;

    &:after {
      content: "";
      background: var(--light-purple);
      border-radius: 20px 0 20px 0;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 50%;
    }

    img {
      width: 31px;
      z-index: 1;
    }
  }

  &-button--theme {
    background: transparent;
    border: none;
  }

  &-button--credits {
    padding: 0 2rem;
    margin-left: 2rem;
    background: none;
    border-left: 1px solid #494e6e;
    height: 100%;

    img {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }
}
