.go-back {
  margin: 2rem 0;

  span {
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 1.5rem;
  }
}

.invoice {
  animation: fadeIn 1s ease-in-out;
}

.invoice-status,
.invoice-wrap {
  background: var(--invoice-bg);
  box-shadow: rgb(72 84 159 / 10%) 0px 10px 10px -10px;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  padding: 1.5rem;
}

.invoice-status {
  margin-bottom: 1rem;
}

.invoice-wrap {
  margin-bottom: 3.5rem;
}

.invoice-header {
  margin-bottom: 2.5rem;

  &--left {
    width: 100%;
    margin-bottom: 2.5rem;

    span {
      display: inline-block;
      font-size: 0.95rem;
      font-weight: 700;
      margin-bottom: 0.3rem;

      &:before {
        content: "#";
        color: hsl(231, 37%, 63%);
      }

      p {
        color: var(--btn-text);
      }
    }
  }

  &--right {
    font-style: normal;
    text-align: left;

    p {
      color: var(--btn-text);
      margin-bottom: 0.3rem;
    }
  }
}

.invoice-body {
  align-items: flex-start;

  .date-wrap,
  .bill-to,
  .send-to {
    span {
      color: var(--btn-text);
      display: block;
      margin-bottom: 0.4rem;
    }
  }

  .date-wrap {
    width: 50%;
  }

  .date {
    margin-bottom: 2.5rem;

    p {
      font-size: 0.95rem;
      font-weight: 700;
    }
  }

  .bill-to {
    width: 50%;

    h2 {
      margin: 0.75rem 0 0.5rem;
      font-size: 0.95rem;
    }
    p {
      color: var(--btn-text);
      display: block;
      margin-bottom: 0.2rem;
    }
  }

  .send-to {
    margin-bottom: 2.5rem;

    p {
      font-size: 0.95rem;
      font-weight: 700;
    }
  }
}

.invoice-table {
  background: var(--table-bg);
  border-radius: 0.4rem;
  padding: 1rem;

  table {
    width: 100%;
    text-align: left;

    td,
    th {
      padding: 1rem;
    }

    th {
      color: var(--btn-text);
      font-size: 0.75rem;
      font-weight: 400;
    }

    th:nth-child(1) {
      // width: 35%;
      width: 50%;
    }
    th:nth-child(2) {
      display: none;
      width: 15%;
    }
    th:nth-child(3) {
      display: none;
      width: 25%;
    }
    th:nth-child(4) {
      // width: 25%;
      width: 50%;
    }

    td {
      font-weight: 700;
    }

    td:nth-child(2),
    td:nth-child(3) {
      color: var(--btn-text);
      display: none;
    }
  }
}

.invoice-total {
  background: var(--total-amout-bg);
  border-radius: 0 0 0.5rem 0.5rem;
  color: #fff;
  font-weight: 700;
  padding: 2rem;

  &-amout {
    font-size: 1.25rem;
  }
}

.invoice-actions {
  background: var(--actions-bg);
  padding: 1.5rem;
  margin-left: -5.5%;
  text-align: right;
  width: 111%;

  .btn {
    margin-left: 0.5rem;
  }
}
