$breakpoint-xs: 550px;
$breakpoint-sm: 650px;
$breakpoint-md: 768px;
$breakpoint-lg: 900px;
$breakpoint-x-lg: 1024px;

@mixin mq($media) {
  @if $media == xs {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == xlg {
    @media (min-width: $breakpoint-x-lg) {
      @content;
    }
  } @else {
    @media (min-width: $media) {
      @content;
    }
  }
}
