@import "./app/sass/core.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--body-bg);
  padding-top: 80px;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.theme-animation {
  transition: color 0.2s, background 0.3s;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
