@import "./app/sass/core.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

.theme-animation {
  transition: color 0.2s, background 0.3s;
}
