@import "./app/sass/core.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  background: var(--body-bg);
  color: var(--body-text);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  background: transparent;
  border: none;
  color: var(--body-text);
  font-family: "Spartan", sans-serif;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
}

ul {
  list-style: none;
}

.theme-animation {
  transition: background 0.3s ease 0s;
}

.flex-center,
.flex-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.status-paid,
.status-pending,
.status-draft {
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: capitalize;
  width: 105px;
  text-align: center;

  &:before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: inherit;
    margin-right: 0.3rem;
  }
}

.status-paid {
  color: $status-paid;
  background: rgba($status-paid, 0.05);

  &:before {
    background: $status-paid;
  }
}
.status-pending {
  color: $status-pending;
  background: rgba($status-pending, 0.05);

  &:before {
    background: $status-pending;
  }
}
.status-draft {
  color: rgba(var(--status-draft), 1);
  background: rgba(var(--status-draft), 0.05);

  &:before {
    background: rgba(var(--status-draft), 1);
  }
}

.btn {
  background: var(--btn-bg);
  border-radius: 2rem;
  color: var(--btn-text);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  min-width: 90px;
  cursor: pointer;
  transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s;

  &-delete {
    background: hsl(0, 80%, 63%);
    color: #fff;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.backdrop {
  overflow-y: hidden;
  padding-right: 12px;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(4%);
  }
  90% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}
